* text=auto

*.sln text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.manifest text eol=crlf
*.xaml text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.exe binary
*.dll binary
*.pdb binary
*.zip binary
*.7z binary
